@import 'src/styles/package';

.product {
  width: 100%;

  .image-wrapper {
    position: relative;
    margin-bottom: 8px;

    img {
      width: 100%;
      height: auto;
      border: 1px solid $color-gray-150;
      border-radius: 4px;
    }

    .icon-container {
      position: absolute;
      right: 10px;
      bottom: 10px;

      .icon-wrapper {
        @include flex-center();
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: unquote($color-white + '70');

        .icon {
          font-size: 0.9rem;
          cursor: pointer;
        }

        &.heart {
          .icon {
            font-size: 1rem;
            color: $color-pink;
          }
        }

        &.cart {
          margin-top: 5px;

          .icon {
            color: $color-main;

            * {
              stroke: $color-main;
            }
          }
        }
      }
    }
  }

  .title {
    $line-height: 1rem;

    font-size: 0.75rem;
    line-height: $line-height;
    max-height: $line-height * 2;
    overflow: hidden;
    margin-bottom: 3px;
  }

  .price {
    display: flex;

    .sale-percent {
      font-size: 0.6rem;
      font-weight: 600;
      color: $color-red;
      margin-right: 2px;
    }

    .origin-price {
      font-size: 0.7rem;
      color: $color-gray-200;
      text-decoration: line-through;
      margin-right: 2px;
    }

    .sale-price {
      font-size: 0.75rem;
      font-weight: 600;
      color: $color-black;
    }
  }
}
