// const test = 'center'
// const redColor = 'red'

.login-section{
    max-width: 450px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid grey;

.logo {
    width: 80%;
    margin-bottom:1em;
}

.social-login-wrap {
    width:80%;
    display:flex;
    flex-direction:column;

    .login-btn-wrap {
        display:flex;
        flex-direction:row;
        align-items: center;
        margin-bottom: 1em;
        background-color: lightgray;
        border-radius: 0.7em;

        .login-text {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .social-login-title {
        text-align: center;
        color: black;
        font-weight: 600;
        color:gray;
    }
}

    }

