// const test = 'center'
// const redColor = 'red'

.login-section{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border:1px solid gray;
.logo {
    width: 250px;
    margin-bottom:10px;
}

.social-login-wrap {
    width:60%;
    display:flex;
    flex-direction:column;
    margin-bottom: 50px;

    .login-btn-wrap {
        display:flex;
        flex-direction:row;
        align-items: center;
        margin-bottom:15px;
        background-color: lightgray;
        border-radius: 8px;

        .login-text {
            margin-left:10%;
        }
    }

    .social-login-title {
        text-align: center;
        color: black;
        font-weight: 600;
        margin-bottom:10px;
        // color:gray;
    }
}

}