/* colors */
$color-white: #ffffff;
$color-black: #222222;

/* sizes */
$height-nav: 48px; //FIXME

/* fonts */
$font-main: 'Noto Sans KR';
$font-hanna: 'Hanna';
$font-hanna-pro: 'BMHANNAPro';
$font-hanna-air: 'BMHANNAPro';
$font-jua: 'BMJUA';
$font-dohyeon: 'BMDOHYEON';
