@import 'package';

html {
  font-size: 20px;

  * {
    @include font-family();
  }
}

.hidden {
  display: none !important;
}

#app {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
