@import 'package';

html {
  font-size: $font-base-size;

  * {
    @include font-family();
  }
}

.hidden {
  visibility: hidden !important;
}

.dp-none {
  display: none !important;
}

.stop-scroll {
  height: 100vh;
  overflow-y: hidden;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}
