.login-btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  background-color: lightgray;
  border-radius: 0.7em;
  cursor: pointer;

  .login-text {
    margin-left: auto;
    margin-right: auto;
  }

  .facebook {
    color: #1349c2;
  }
}
